body{
    height: 100%;
    width: 100%;
}
.Header{
    border: 2px solid  #8DF6B4;
    width: 85vw;
    height: 20vh;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #8DF6B4;
    font-family: Segoe UI;
    font-size: 45pt;
    color: white;
    z-index:-1;
}
.LastName{
    padding-left: 3rem;
    line-height: .5rem;
}