.ProfileContent{
    width: 79vw;
    top: 0vh;
    right: 0;
    margin-left: 17vw;
    align-text: left;
    margin-top: 28vh;
    color: #707070;
}
.FavoriteContent{
    width: 79vw;
    right: 0;
    margin-left: 17vw;
    align-text: left;
    color: #707070;

}
.SectionHeader{
    font-family: Segoe UI;
    line-height: 0pt;
    margin-top: 10vh;
    color: #707070;
}
.SectionHeaderDivider{
    width: 50vw;
    margin-right: 50vw;
}
.ProfileParagraph{
    font-family: Segoe UI;
    padding-left: 1vw;
 }
.Resources{
    width: 73vw;
    display: grid;
    padding-top: 8vh;
}
.ResourcesRow{
}
.ResourceDescription{
    font-family: "Segoe UI";
    padding-left: 1vw;
}
.ResourcesCell{
    width: 8vw;
    height: 35vh;
    padding-left: 7vw;
    padding-right: 7vw;
    position: relative;
}
.ResourceLink{

}
.Tester :hover{
    color: #8DF6B4;
}
.ResourceLink :hover{
    color: #8DF6B4;
}
.ResourceImage{
    position: absolute;
    top: 0;
    height: 3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 3vw;
}
.ResourceName{
    font-family: Segoe UI;
    color: #707070;
    position: absolute;
    top: 4vh;
    width: 8vw;
    text-align: center;
}
.ResourceParagraph{
    font-family: Segoe UI;
    color: #707070;
    font-size: 10pt;
    position: absolute;
    top: 15vh;
    width: 8vw;
    text-align: justify;
}